<div class="row">
    <div class="col-5 col-md-3 text-end">Id:</div>
    <div class="col-7 col-md-9">@_user.Id</div>
</div>
<div class="row">
    <div class="col-5 col-md-3 text-end">Name:</div>
    <div class="col-7 col-md-9">@_user.Name</div>
</div>
<div class="row">
    <div class="col-5 col-md-3 text-end">Mail:</div>
    <div class="col-7 col-md-9">@_user.Mail</div>
</div>
<div class="row">
    <div class="col-5 col-md-3 text-end">Login:</div>
    <div class="col-7 col-md-9">@_user.Login</div>
</div>
<div class="row">
    <div class="col-5 col-md-3 text-end">Password:</div>
    <div class="col-7 col-md-9">@_user.Password</div>
</div>
<div class="row">
    <div class="col-5 col-md-3 text-end">Role:</div>
    <div class="col-7 col-md-9">@_user.UserRole</div>
</div>
<div class="row">
    <div class="col-5 col-md-3 text-end">RestaurantId:</div>
    <div class="col-7 col-md-9">@_user.RestaurantId</div>
</div>
<div class="row mt-3">
    <div class="col-md-12 text-end">
        <Button Color="ButtonColor.Primary" @onclick="EditUser">Изменить</Button>
    </div>
</div>

@code
{
    [Parameter]
    public int Id { get; set; }

    private FullUserOutputModel? _user;

    private SysAdminUserManager _userManager;

    public FullUserCard()
    {
        _userManager = new();
    }

    protected override void OnInitialized()
    {
        _user = _userManager.GetUserById(Id);

        base.OnInitialized();
    }


    private void EditUser()
    {


    }
}
