@rendermode RenderMode.InteractiveServer
@inject NavigationManager NavigationManager

<div class="card">
	@if (Restaurant.FileName != null && Restaurant.FileName != "")
	{
		<img src="@CreateFullPath(Restaurant.FileName)" alt="Фото ресторана" width="170" height="100">
	}
	else
	{
		<img src="Images\\RestaurantImages\\restaurant-profile-default.png" alt="Фото ресторана" width="170" height="100">
	}
	<div class="card-body">
		<h5 class="card-title">@Restaurant.Address</h5>
		<p class=" card-text">Id: @Restaurant.Id</p>
		@if (Restaurant.Admin != null)
		{
			<p class=" card-text">Id администратора: @Restaurant.Admin.Id</p>
			<p class=" card-text">Имя администратора: @Restaurant.Admin.Name</p>
		}
		<div class="dropdown">
			<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
				Опции
			</button>
			<ul class="dropdown-menu">
				<AuthorizeView Roles="системный администратор">
					<Authorized>
						<li><button class="dropdown-item" type="button" @onclick="ShowForm">Редактировать</button></li>
						<li><button class="dropdown-item" type="button">Удалить</button></li>
					</Authorized>
				</AuthorizeView>
				<AuthorizeView Roles="логист">
					<Authorized>
						<li><a class="dropdown-item" href="@($"rest-product-menu-page/{Restaurant.Id}")">Посмотреть продукты</a></li>
					</Authorized>
				</AuthorizeView>
			</ul>
		</div>

		<Modal @ref="_modal" UseStaticBackdrop="false" CloseOnEscape="true" />

	</div>
</div>


@code {
	[Parameter]
	[EditorRequired]
	public RestaurantOutputModel Restaurant { get; set; }

	private SysAdminRestaurantManager _manager;

	private Modal _modal;

	public RestaurantCard()
	{
		_modal = new();

		_manager = new();
	}

	private async Task ShowForm()
	{
		ExtendedRestaurantInputModel restaurantInputModel = new() { Id = Restaurant.Id, Address = Restaurant.Address, FileName = Restaurant.FileName };
		var parameters = new Dictionary<string, object>();
		parameters.Add("ExtendedRestaurant", restaurantInputModel);
		await _modal.ShowAsync<RestaurantModificationForm>(title: "Редактирование ресторана", parameters: parameters);
	}

	private async Task Delete()
	{
		await _manager.DeleteRestaurant(Restaurant.Id);

		NavigationManager.NavigateTo($"/restaurants-menu-page", true);
	}

	private string CreateFullPath(string relativePath)
	{
		string path = Path.Combine("Images", relativePath);
		return path;
	}
}